.main-top-header {
  padding: 15px 10px 5px 10px;

  >.el-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

  .title {
    // border-bottom: 1px solid #bfcbd9;
    margin: 0;
    line-height: 30px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    text-align: left;
    // text-indent: 1em;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  lable {
    width: 60px;
    text-align: right;
    margin-right: 10px;
    display: inline-block;
  }
}
