.storied-suilding-wrapper {
  font-size: 0;
  text-align: left;
}

.storied-suilding-wrapper /deep/.demo-table-expand {
  font-size: 0;
  margin: 5px 10px 5px 10px;
}

.storied-suilding-wrapper /deep/.demo-table-expand.dialog-expand .el-form-item {
  margin-bottom: 8px;
}

.storied-suilding-wrapper /deep/.demo-table-expand.dialog-expand .el-form-item label {
  color: #0d87d4;
  text-align: left;
}

.storied-suilding-wrapper /deep/.demo-table-expand.dialog-expand .el-form-item .el-form-item__content {
  width: calc(100% - 20px);
}

.storied-suilding-wrapper /deep/.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 25%;
}

.storied-suilding-wrapper /deep/.demo-table-expand .el-form-item label {
  width: 95px;
  text-align: right;
  padding-left: 5px;
  display: inline-block;
}

.storied-suilding-wrapper /deep/.demo-table-expand .el-form-item .el-form-item__content {
  height: 43px;
  width: calc(100% - 100px);
}

.storied-suilding-wrapper /deep/.demo-table-expand .el-form-item .el-form-item__content .el-select {
  width: 100%;
}

.storied-suilding-wrapper /deep/.demo-table-expand .el-form-item .el-form-item__content .span-show {
  height: 32px;
  display: inline-block;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.storied-suilding-wrapper /deep/.demo-table-expand .t-right {
  text-align: right;
}

.storied-suilding-wrapper /deep/.demo-table-expand .t-right .el-form-item__content {
  width: 100%;
}

.storied-suilding-wrapper /deep/.demo-table-expand .t-right .mag-right-10 {
  margin-right: 10px;
}

.storied-suilding-wrapper .bottom-button {
  text-align: right;
  padding: 20px 15px 10px 0;
  border-top: 1px dashed #dcdcdc;
  margin: 10px 0;
}

/deep/.el-table .el-table__body-wrapper {
  height: calc(100vh - 90px - 60px - 140px - 86px);
  overflow-y: auto;
}

/deep/.el-table .el-table__body-wrapper .el-button + .el-button {
  margin-left: 0;
}
